@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
font-family: 'Itim', cursive;
}

/* ------Navbar------- */

.navbar.bg-body-tertiary.fixed-top {
    background-color: #ffffff !important;
  }

.offcanvas.offcanvas-start {
  background-color: #ffffff41 !important; 
  backdrop-filter: blur(5px);
  border-radius: 0 100px 50px 0   ;
}

.btn-close.custom-close-button {
  margin-right: 30px;
}

.navbar-toggler-icon {
  color: #76c1ff; 
}

.navbar-toggler {
    background-color: transparent !important;
    border: none !important;
    padding: 0.25rem 0.5rem !important;
    cursor: pointer !important;
  }
  
.nav-link.active{
  color: #ffffff !important;
  font-size: 20px !important;
}

.nav-link.active:hover{
  color: #6fc3ff !important;
}

.navbar-toggler-icon {
    color: #ffffff !important;
    font-size: 16px !important;
}

.nav-item {
    margin-right: 10px;
    margin-bottom: 8px;
    font-size: 16px;
    position: relative;
}
  
.nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.2s;
}

.offcanvas-title{
    color: #ffffff;
    margin-left: 70px;
    margin-top: 50px;
}

.nav-item:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #bedeff;
}

.nav-link:hover {
    color: #6fc3ff;
}
  
.nav-link.active {
    color: #ffc107;
}

/* login,register,username */
.nav-login {
  text-decoration: none;
  transition: color 0.2s;
  font-size: 16px;
  margin-right: 15px;
}

.username {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.2s;
  font-size: 25px;
  margin-left: auto; /* Push the username link to the right to center-align it */
  margin-right: auto; /* Push the username link to the left to center-align it */
  display: block; /* Make it a block-level element to center-align */
  text-align: center; /* Center the text horizontally */
}

.username:hover {
  color: #4cd0da;
}

.nav-register {
  text-decoration: none;
  transition: color 0.2s, font-size 0.2s;
  font-size: 16px;
  margin-right: 30px;
}


.nav-register:hover {
  font-size: 18px;
}
/* login,logout,register */


/* Style for the toggler button */
.navbar-toggler {
  background-color: #ffffff; /* Change to your desired color */
  border: none; /* Remove the border */
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

/* Style for the offcanvas header */
.offcanvas-header {
  border-bottom: none; /* Remove the bottom border */
  border-radius: 50px; /* Add rounded corners to the top */
}

/* Style for the offcanvas body */
.offcanvas-body {
  border-radius: 0 0 10px 10px; /* Add rounded corners to the bottom */
  overflow: hidden; /* Hide overflowing content */
}


  .dropdown-menu {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.dropdown-item {
    color: #86bef3;
}

.dropdown-item:hover {
    background-color: #3973ac;
    color: #ffffff;
}


/* ------END Navbar------- */

*
{
  margin: 0;
  padding: 0;
}

.circle_sun {
  height: 200px;
  width: 350px;
}

#circle_container
{
  height: 180px;
  width: 180px;
  position: absolute;
  /*Centering*/
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  
  border-radius: 50%;
  background-color: #DDD;
  overflow: hidden;
  animation: background 4s -3.5s infinite;
  /*Nice modern drop-shadow*/
  box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}

#load_wrapper
{
  height: 300%;
  width: 300%;
  margin-left: -50px;
  transform: translate3d(-25%, 0, 0);
  position: relative;
  animation: rotation 4s linear infinite;
}

#sun, #moon
{
  position: absolute;
  border-radius: 50%;
  /*Make sure they are in the middle*/
  left: 50%;
  transform: translateX(-50%);
}

#sun
{
  width: 80px;
  height: 80px;
  background-color: #FFD475;
  top: 40px;
  box-shadow: 0 0 15px #FFCB57;
}

#moon
{
  width: 50px;
  height: 50px;
  background-color: #EEE;
  top: 450px;
  box-shadow: 0 0 25px rgba(0,0,0,0.2) inset, 0 0 10px white;
}

#stars
{
  /*Has to be more than the amount of layers*/
  perspective: 15px;
	
  width: 100%;
  animation: stars 4s linear infinite;
  opacity: 0.8;
}

.star
{
  width: 4px;
  height: 4px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
}

.star_layer
{
  position: absolute;
  width: 200px;
  height: 200px;
  /*This is to make sure the upper-Z layer's don't shift downward*/
  transform-origin: 100px 0;
}

@keyframes rotation
{
  0% {
    transform: translate3d(-25%, 0, 0) rotate(0deg);
  }
  20% {
    /*Sun goes down*/
    transform: translate3d(-25%, 0, 0) rotate(50deg);
  }
  30% {
    /*Moon rises*/
    transform: translate3d(-25%, 0, 0) rotate(130deg);
  }
  70% {
    /*Moon goes down*/
    transform: translate3d(-25%, 0, 0) rotate(240deg);
  }
  80% {
    /*Sun rises*/
    transform: translate3d(-25%, 0, 0) rotate(310deg);
  }
  100% {
    transform: translate3d(-25%, 0, 0) rotate(360deg);
  }
}

@keyframes background
{
  0% {
    background-color: #2896C3;
  }
  50% {
    /*Night*/
    background-color: #1E5267;
  }
  100% {
    background-color: #2896C3;
  }
}

@keyframes stars
{
  0% {
    /*Invisible, not moving*/
    opacity: 0;
    padding-right: 0;
  }
  25% {
    /*Start of movement*/
    opacity: 0;
    padding-right: 0;
  }
  50% {
    /*Visible*/
    opacity: 1;
    padding-right: 25px;
  }
  75% {
    opacity: 0;
    padding-right: 50px;
  }
  100% {
    opacity: 0;
    padding-right: 0;
  }
}

/* ------container------- */
.container{
  padding-top: 150px;
}
/* ------container_sun&moon------- */

  html,
body {
  background-color: #85b9dd;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  position: relative;
}

.frame {
  width: 500px;
  height: auto;
  margin: 15% auto 0;
  position: absolute;
  width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}


/**
 * Clouds
 */
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateZ(0);
}

.cloud {
  position: absolute;
  top: 20%;
  width: 300px;
  right: 0;
  opacity: 1;
}

.cloud.front {
  z-index: 9;
}

.cloud.distant {
  z-index: 1;
}

.cloud.background {
  z-index: 1;
}

/*Cloud Sizing*/
.cloud.smaller {
  margin-right: 400px;
  width: 100px;
  margin-top: 50px;
}

.cloud.small {
  margin-right: 200px;
  width: 150px;
}

.cloud.big {
  width: 500px;
  margin-top: 50px;
  margin-right: 150px;
}

.cloud.massive {
  width: 600px;
  margin-top: 20px;
  margin-right: 0px;
}


/*Cloud: Animation*/
.cloud {
  -webkit-animation-name: cloud-movement;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;

  -moz-animation-name: cloud-movement;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;

  animation-name: cloud-movement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

.slow {
  -webkit-animation-duration: 9.2s;
  -moz-animation-duration: 9.2s;
  animation-duration: 9.2s;
}

.slower {
  -webkit-animation-duration: 11.2s;
  -moz-animation-duration: 11.2s;
  animation-duration: 11.2s;
}

.slowest {
  -webkit-animation-duration: 13.5s;
  -moz-animation-duration: 13.5s;
  animation-duration: 13.5s;
}

.super-slow {
  -webkit-animation-duration: 20.5s;
  -moz-animation-duration: 20.5s;
  animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    transform: translateX(300px);
  }
  10% {

    opacity: 0.7;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}
/* ------END container_sun&moon------- */

/* ---------Footer-------- */
* {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}


.footer {
    background-color: #6ca0dd;
    color: #fff;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #85b9dd;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 20px 15px 300px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}

.footer-logo-link img {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #2850f0;
    border-radius: 21px;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 10px 30px;
    margin: 0 0 5px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}





.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #5bacf7;
}

.footer-social-link.linkedin {
    height: 45px;
    left: 3px;
    top: 11px;
    width: 45px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 50px;
    left: 62px;
    top: 3px;
    width: 50px;
}

.footer-social-link.youtube {
    height: 45px;
    left: 123px;
    top: 12px;
    width: 45px;
}

.footer-social-link.github {
    height: 55px;
    left: 172px;
    top: 7px;
    width: 55px;
}

.footer-copyright {
    background-color: #5bacf7;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 20px 15px 330px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}

/* ---------END Footer-------- */
